*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


.banner{
    background-color: rgba(229, 84, 115, 0.1);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;

}

.banner .banner-heading{
    
    font-size: 80px;
    font-weight: 800;
}
.banner .banner-description{
    font-size: 18px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn-primary{
    background-color: rgba(229, 84, 115, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    width: 160px;
    border: none;
    border-radius: 8px;   
}
/* feature section styles */

.feature{
    margin-top: 160px;
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    
}
.feature-content{
    width: 80%;
    text-align: center;
    border: 1px solid black;

}
.heading-title{
    font-size: 34px;
    font-weight: 800;
    color: rgba(39, 39, 39, 1);

}
.heading-description{
    font-size: 19px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
    margin-top: 24px;
    margin-bottom: 60px;
    
}
.flower-container{
    display: flex;
    justify-content: space-between;
    
}
.first-img{
    height: 560px;
    width: 470px;
    text-align: center;
    background-image: url("/resources/Rectangle\ 3-1.png");
    padding-top: 88px;
    background-repeat: no-repeat;
}
.second-img{
    height: 560px;
    width: 470px;
    padding-top: 88px;
    background-image: url("/resources/Rectangle\ 3.png");
    background-repeat: no-repeat;
}
.third-img{
    height: 560px;
    width: 470px;
    padding-top: 88px;
    background-image: url("/resources/Rectangle\ 3-2.png");
    background-repeat: no-repeat;
}
.img-caption{
    font-size: 20px;
    font-weight: 600;
    margin-top: 18px;
    color: rgba(39, 39, 39, 1);
    text-decoration: underline;

}
.third-fig{
    margin-top: 78px;
}
.service-container{
    margin-top: 150px;
    margin-bottom: 140px;
    width: 100%;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}
.services{
    width: 80%;
    text-align: center;
    border: 1px solid black;
    padding: 87px 175px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(39, 39, 39, 0.05);
    
}
.service-img-caption{
    font-size: 16px;
    font-weight: 600;
    color: rgba(39, 39, 39, 0.8);
    margin-top: 18px;

}
