*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body main footer{
    width: 100vw;
}
.banner{
    background-color: rgba(229, 84, 115, 0.1);    
    display: flex;
    align-items: center;
    padding-top: 60px;
    height: 800px;
}

.banner-left{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-right{
    width:50%;
    display: flex;
    justify-content: center;
}

.banner-img{
    height: 740px;
}

.banner .banner-heading{
    
    font-size: 80px;
    font-weight: 800;
}
.banner .banner-description{
    font-size: 18px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
    margin-top: 30px;
    
}
.btn-primary{
    background-color: rgba(229, 84, 115, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    width: 160px;
    border: none;
    border-radius: 8px;  
    margin-top: 30px; 
}
/* Extra section styles */
.extra-section-container{
    margin-top: 160px;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}
.extra-section{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(159, 66, 85, 0.1);
    
}
.left-side{
    /* margin-left: 100px; */
    width:50%;
    display: flex;
    justify-content: center;
    
    align-items: center;
}
.right-side{
    margin-left: 150px;
    width:50%;
    display: flex;
    flex-direction: column;
    
}
.right-side-heading{
    font-size: 60px;
    font-weight: 800;
}
.right-side-description{
    font-size: 18px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
    margin-top: 15px;
}
/* feature section styles */

.feature{
    margin-top: 160px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.feature-content{
    width: 75%;
}

.heading{
    text-align: center;
}
.heading-title{
    font-size: 34px;
    font-weight: 800;
    color: rgba(39, 39, 39, 1);
}
.heading-description{
    font-size: 19px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
    margin-top: 24px; 
}


.flower-container{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    margin-top: 60px;
}
.flower-img-container{
    height: 500px;
    width: 350px;
    margin-top: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.flower-img{
    height: 100%;
    width:100%;
    object-fit: cover;
}
.first-img
{
    background-image: url("../resources/rectangle3-1.png");
    /* height: 350px;
    width: 300px; */
    background-repeat: no-repeat;
    background-position: center ;
    background-size: contain;
    
    
}
.second-img{
    background-image: url("../resources/rectangle3.png");
    background-repeat: no-repeat;
    background-position: center ;
}
.third-img{
    background-image: url("../resources/rectangle3-2.png");
    background-repeat: no-repeat;
    background-position: center ;
}
.img-caption{
    font-size: 20px;
    font-weight: 600;
    margin-top: 18px;
    color: rgba(39, 39, 39, 1);
    text-decoration: underline;

}
/* .second-fig{
    margin-top: 78px;
} */
.service-container{
    margin-top: 150px;
    margin-bottom: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.services{
    width: 75%;
    text-align: center;
    padding: 87px 175px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(39, 39, 39, 0.05);
    
}
.service-img-caption{
    font-size: 16px;
    font-weight: 600;
    color: rgba(39, 39, 39, 0.8);
    margin-top: 18px;

}
.hot-deals{
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 50px;
}
.top-heading{
    font-size: 40px;
    font-weight: 400;
    font-family: 'Ephesis', cursive;
    color: rgba(229, 84, 115, 1);
    margin-bottom: 12px;
}
.left-part{
    text-align: center;
}
.right-part{
    margin-top: 50px;
    margin-bottom: 50px;
}
.social-media-container{
    margin-top: 160px;
    margin-bottom: 160px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.social-media{
    width: 75%;
}
.flowers{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.insta-flower-img{
    width: 100%;
}

.latest-deals{
    margin-top: 130px;
    margin-bottom: 130px;
    width: 100%;
    display: flex;
    justify-content: center;    
}
.deals{
    width: 75%;
    height: 450px;
    text-align: center;
    background-image: url("../resources/rectangle-9.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.deals-title{
    font-size: 34px;
    font-weight: 800;
    color: rgba(39, 39, 39, 1);
    margin-top: 120px;
}
.deals-description{
    font-size: 19px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
    margin-top: 16px; 
    margin-bottom: 28px;
}
input[type="email"]{
    height: 50px;
    width: 860px;
    border: none;
    border-radius: 8px;
    color: rgba(39, 39, 39, 0.6);
    font-size: 20px;
    font-weight: 400;
    padding-left: 22px;
    margin-bottom: 120px;
    margin-right: 16px;
}
.bottom-part{
    background-color: rgba(17, 16, 16, 1);
    height: 450px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer-title{
    font-size: 48px;
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    margin-top: 130px;
    margin-bottom: 30px;
}
.footer-subtitle{
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 32px;
}
.copyright{
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
}