*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}


.banner{
    background-color: rgba(229, 84, 115, 0.1);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;

}

.banner .banner-heading{
    
    font-size: 80px;
    font-weight: 800;
}
.banner .banner-description{
    font-size: 18px;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
    margin-top: 30px;
    margin-bottom: 30px;
}
.btn-primary{
    background-color: rgba(229, 84, 115, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    width: 160px;
    border: none;
    border-radius: 8px;   
}
/* feature section styles */

.feature{
    margin-top: 180px;
    margin-bottom: 140px;
    width: 100%;
    height: 830px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    
}
.feature-content{
    width: 80%;
    border: 1px solid black;

}